body {
  margin: 20px;
  text-align: justify;
  word-wrap: break-word;
  font-family: "Segeo UI Mono", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  color: black;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:link { text-decoration:none; }
a:hover { text-decoration:underline; }
a:active { text-decoration:none; }

.title {
  color: #CD0021;
  font-size: 30px;
}
.subtitle {
  font-size: 14px;
  color: #aaa;
}

.cata1 {
  cursor: pointer;
  color: #CD0021;
  font-size: 20px;
  height: 30px;
}
.cata2 {
  cursor: pointer;
  color: #0000FF;
}

input.button {
  outline:none;
}

/* 下划线 */
/*
h2 {
  padding: 0px 0px 0.3em;
  border-bottom-style: solid;
  border-bottom-color: maroon;
}
*/

code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  font: 14px/1.8em Consolas, monospace;
}

/* 整段代码 */
div.highlighter-rouge {
  margin: 0 12px;
  padding: 0px 5px;
  border-color: rgb(25%,35%,45%);
  border-left-style:solid;
}

/* 行内代码 */
code.highlighter-rouge {
  vertical-align: middle;
  background: #cccccc;
  padding: 0 0.3em;
  font-size: 14px;
  border-radius: 5px;
}