body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	overflow-x: hidden;
}

h1 {
	color: #FFFFFF;
	font-size: 4rem;
}

p {
	color: #FFFFFF;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}

.cb-slideshow-text-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tm-content {
    z-index: 1001;
}

.syj {
    height: 299px;
    width: 354px;
    background: url("song.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-30%);
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control {
    color: #FFFFFF;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.75rem 1.2rem;
}

.form-section {
    color: #FFFFFF;
    background-color: transparent;
    margin-bottom: 100px;

}

.contact_email {
	color: #FFFFFF;
}
.tm-btn-subscribe {
	background-color: #006699;
	border-radius: .5rem;
    border-color: white;
	padding: 0.75rem 1.6rem;
    font-weight: 300;
    font-size: 1.4rem;
    cursor: pointer;
}

.tm-btn-subscribe:hover {
    background-color: #055278;
}

.tm-social-icons-container {
    margin: 10px;
}

.tm-social-link {
    border-color: #FFFFFF;
    color: black;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.fa {
    color: #FFFFFF;
}

.footer-link {
    margin: 20px;
	font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align:center;
    width:100%;
    z-index: 1001;
}
