<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../css/blog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../plugins/jquery-1.4.4.min.js"></script>
    <script type="text/javascript">
      var cate2_id = "blackbird-introduction";
      function open_cata(obj) {
        var cata_name = $(obj).text().slice(1);
        if ($(obj).next().is(":hidden")) {
          $(obj).text("▼" + cata_name);
          $(obj).next().show();
        } else {
          $(obj).text("►" + cata_name);
          $(obj).next().hide();
        }
      }
      function open_link(url, cid) {
        window.open(url,'main');
        $('#' + cate2_id).css("background-color", "#FFFFFF");
        $('#' + cid).css("background-color", "#888888");
        cate2_id = cid;
      }
      $(function() {
        $('#' + cate2_id).css("background-color", "#888888");
      });
    </script>
  </head>
  <body>
    {% for catalogue in site.data.blog.catalogue %}
    <br/>
    <div class="cata1" onclick="open_cata(this)">►{{ catalogue.name }}</div>
    <div style="display:none">
      {% for blog in catalogue.blog %}
      <div id="{{ blog.id }}" class="cata2" onclick="open_link('{{ catalogue.id }}/{{ blog.id }}.html', '{{ blog.id }}')">&nbsp;&nbsp;{{ blog.title }}</div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
