<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="../css/blog.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../plugins/jquery-1.4.4.min.js"></script>
    <script type="text/javascript">
      function open_catalogue(obj, cata_id) {
        var cata_name = $(obj).text().slice(1);
        if ($('#'+cata_id).is(":hidden")) {
          $(obj).attr('target', 'main');
          $(obj).text("▼" + cata_name);
          $('#'+cata_id).show();
        } else {
          $(obj).attr('target', '_self');
          $(obj).text("►" + cata_name);
          $('#'+cata_id).hide();
        }
      }
    </script>
  </head>
  <body>
    {% for catalogue in site.data.blog.catalogue %}
    <br/>
    <div class="cata1">
      <a class="cate1" href="#" onclick="open_catalogue(this, '{{ catalogue.id }}')" class="{{ catalogue.id }}">►{{ catalogue.name }}</a>
    </div>
    <div id="{{ catalogue.id }}" class="cata2" style="display:none">
      {% for blog in catalogue.blog %}
      <div id="{{ blog.id }}" class="cata2">
        &nbsp;&nbsp;<a href="{{ catalogue.id }}/{{ blog.id }}.html" target="main">{{ blog.title }}</a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
