<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <link href="../../css/blog.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/colorful.css" rel="stylesheet">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="../../plugins/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../plugins/i5ting_ztree_toc/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="../../plugins/i5ting_ztree_toc/ztree_toc.js"></script>
    <link rel="stylesheet" href="../../plugins/i5ting_ztree_toc/zTreeStyle.css" type="text/css">
    <script type="text/javascript">
      $(document).ready(function(){
        $('#tree').ztree_toc({
          is_expand_all: true,
        });
      });
      function hide_toc() {
        if($("#td_toc").is(":hidden")) {
          document.getElementById("btn_toc").value="隐藏大纲";
          $("#td_toc").show();
        } else {
          document.getElementById("btn_toc").value="显示大纲";
          $("#td_toc").hide();
        }
      }
      function hide_cate() {
 					  if(window.parent.blog.cols == "*,310") {
							   window.parent.blog.cols = "*,0";
							   document.getElementById("btn_cate").value="显示分类";
							 } else {
							   window.parent.blog.cols = "*,310";
							   document.getElementById("btn_cate").value="隐藏分类";
							 }
      }
    </script>
  </head>
  <body>
    <table border=0 height=600px align=left>
      <tr>
        <td id='td_toc'  width=260px align=left valign=top style="BORDER-RIGHT: #999999 1px dashed">
          <ul id="tree" class="ztree">
          </ul>
        </td>
        <td align=left valign=top>
          <div id="content">
            <div class="title">{{ page.title }}</div>
            <div class="subtitle">{{ page.subtitle }}
              <input type="button" id="btn_toc" onclick="hide_toc()" style="color:#aaa;border-radius: 20px;outline:none;" value="隐藏大纲"/>
              <input type="button" id="btn_cate" onclick="hide_cate()" style="color:#aaa;border-radius: 20px;outline:none;" value="隐藏分类"/>
            </div>
            <hr>
            {{ content | replace: '<li>[ ]', '<li><input type="checkbox" disabled>' | replace: '<li>[x]', '<li><input type="checkbox" disabled checked>' }}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
